## Overview
Clean BenefitCosxtSharing by Handle missing value and Sepatate file between $, numeric and string

### Objectives
1. Loading and inspecting dataset
2. Select particular BusinessYear 2014
3. Select only the columns that you want to analyze
4. Separate the string to find groups of string
5. Information used in Two-way ANOVA
6. Handle this data
7. Find out Mean of Copay
8. Drop Duplicates values

### 1. Loading and inspecting dataset
#### import library
1. pandas that it allows you to create, manipulate, and analyze datasets efficiently.
2. numpy that it provides support for arrays, matrices, and various mathematical functions.
3. seaborn that it provides high-level functions to create attractive and informative plots.
4. matplotlib is a foundational library for creating static, interactive, and animated visualizations.

In [69]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [70]:
# Load the dataset
df_bcs = pd.read_csv("BenefitsCostSharing.csv",low_memory=False)

In [71]:
# inspect the dataset
df_bcs.shape

(5048408, 32)

In [72]:
# Countns BusinessYear
df_bcs['BusinessYear'].value_counts().reset_index()

   BusinessYear    count
0          2015  2079286
1          2016  1804253
2          2014  1164869

### 2. Select particular BusinessYear 2014
1. Accesses the column BusinessYear from the DataFrame df_bcs2014
3. Counts the occurrences of each unique value in the BusinessYear column
4. Resets the index of the Series so that the unique values and their counts become columns in the new DataFrame

In [73]:
# Keep BusinessYear 2014 in df_bcs2014
df_bcs2014 = df_bcs[df_bcs['BusinessYear'] == 2014]

In [74]:
# 1,164,869 records
df_bcs2014['BusinessYear'].value_counts().reset_index()

   BusinessYear    count
0          2014  1164869

In [75]:
## display all columns
pd.set_option('display.max_columns',None)
# display first 5 rows
df_bcs2014.head()

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,Explanation,ImportDate,IsCovered,IsEHB,IsExclFromInnMOOP,IsExclFromOonMOOP,IsStateMandate,IsSubjToDedTier1,IsSubjToDedTier2,IssuerId,IssuerId2,LimitQty,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20%,NaN,20%,No Charge,NaN,No Charge,Above EHB,NaN,Combined annual benefit maximum of $1000 per y...,2014-03-19 07:06:49,Covered,NaN,No,No,NaN,No,No,21989,21989,1000.0,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up for Children,2014,20%,NaN,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,See policy for additional limitations,2014-03-19 07:06:49,Covered,Yes,No,No,NaN,No,No,21989,21989,1.0,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40%,NaN,40%,No Charge,NaN,No Charge,Substantially Equal,NaN,See policy for additional limitations,2014-03-19 07:06:49,Covered,Yes,No,No,NaN,Yes,Yes,21989,21989,NaN,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6
3,Orthodontia - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Additional EHB Benefit,NaN,"24 month waiting period, See policy for additi...",2014-03-19 07:06:49,Covered,NaN,No,No,NaN,Yes,Yes,21989,21989,NaN,NaN,NaN,21989AK0010001-00,NaN,111,HIOS,21989AK0010001,AK,AK,6
4,Major Dental Care - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Substantially Equal,NaN,See policy for additional limitations,2014-03-19 07:06:49,Covered,Yes,No,No,NaN,Yes,Yes,21989,21989,NaN,NaN,NaN,21989AK0010001-00,NaN,112,HIOS,21989AK0010001,AK,AK,6

In [76]:
# inspect the dataset
df_bcs2014.shape

(1164869, 32)

### 3. Select only the columns that you want to analyze
1. Select 'StandardComponentId','BenefitName','CopayInnTier1' columns.
2. Check 'CopayInnTier1' Column for to calculate copay value.

In [77]:
#Select only the columns you want to variable df_c1
df_c1 = df_bcs2014[['StandardComponentId','BenefitName','CopayInnTier1']]

In [78]:
## display all columns
pd.set_option('display.max_columns',None)
df_c1.head()

  StandardComponentId                      BenefitName CopayInnTier1
0      21989AK0010001  Routine Dental Services (Adult)     No Charge
1      21989AK0010001     Dental Check-Up for Children     No Charge
2      21989AK0010001        Basic Dental Care - Child     No Charge
3      21989AK0010001              Orthodontia - Child     No Charge
4      21989AK0010001        Major Dental Care - Child     No Charge

In [79]:
# display all columns, Non-Null Count and Dtype
df_c1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1164869 entries, 0 to 1164868
Data columns (total 3 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   StandardComponentId  1164869 non-null  object
 1   BenefitName          1164869 non-null  object
 2   CopayInnTier1        898756 non-null   object
dtypes: object(3)
memory usage: 35.5+ MB

In [80]:
# display first 5 rows
df_c1.head()

  StandardComponentId                      BenefitName CopayInnTier1
0      21989AK0010001  Routine Dental Services (Adult)     No Charge
1      21989AK0010001     Dental Check-Up for Children     No Charge
2      21989AK0010001        Basic Dental Care - Child     No Charge
3      21989AK0010001              Orthodontia - Child     No Charge
4      21989AK0010001        Major Dental Care - Child     No Charge

### 4. Separate the string to find groups of string
1. Separate numbers from CopayInnTier1 and store it in Copayment
2. Remove the number part from CopayInnTier1 and keep only the description (Description)
3. Clean NaN or empty values.
4. Convert amount_in_usd provided as a number (float) for further analysis.

In [81]:
# Separate into 'Amount' and 'Description'
df_c1['Copay'] = df_c1['CopayInnTier1'].str.extract(r'\$([\d,]+)')
df_c1['Description'] = df_c1['CopayInnTier1'].str.replace(r'\$[\d,]+\s?', '', regex=True)

# Replace 'nan' or empty strings with NaN for clarity
df_c1['Copay'] = df_c1['Copay'].str.replace(',', '').fillna('NaN')  # Remove commas for numerical conversion
df_c1['Description'] = df_c1['Description'].replace({'': 'NaN', 'nan': 'NaN'})

/var/folders/kc/wzqlm10x69xgkrpv4q3bp89w0000gn/T/ipykernel_2696/3523515561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c1['Copay'] = df_c1['CopayInnTier1'].str.extract(r'\$([\d,]+)')
/var/folders/kc/wzqlm10x69xgkrpv4q3bp89w0000gn/T/ipykernel_2696/3523515561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c1['Description'] = df_c1['CopayInnTier1'].str.replace(r'\$[\d,]+\s?', '', regex=True)
/var/folders/kc/wzqlm10x69xgkrpv4q3bp89w0000gn/T/ipykernel_2696/3523515561.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c1['Copay'] = df_c1['Copay'].str.replace(',', '').fillna('NaN')  # Remove commas for numerical conversion
/var/folders/kc/wzqlm10x69xgkrpv4q3bp89w0000gn/T/ipykernel_2696/3523515561.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c1['Description'] = df_c1['Description'].replace({'': 'NaN', 'nan': 'NaN'})

In [82]:
# display first 5 rows
df_c1.head()

,StandardComponentId,BenefitName,CopayInnTier1,Copay,Description
0,21989AK0010001,Routine Dental Services (Adult),No Charge,NaN,No Charge
1,21989AK0010001,Dental Check-Up for Children,No Charge,NaN,No Charge
2,21989AK0010001,Basic Dental Care - Child,No Charge,NaN,No Charge
3,21989AK0010001,Orthodontia - Child,No Charge,NaN,No Charge
4,21989AK0010001,Major Dental Care - Child,No Charge,NaN,No Charge

### 5. Information used in Two-way ANOVA
The dependent variable must be quantitative in order to be able to analyze differences in means between groups. Therefore, the data in the example you provide must be adjusted or manipulated to provide a suitable numerical value for analysis.

#### 5.1 Understanding Copay Information
From the information you have:
1. No Charge and No Charge after deductible: indicates that there is no charge. or not waste money
2. NaN: May mean missing or unknown data.
3. `$10` Copay after deductible, `$10` Copay before deductible, `$10` Copay per Day, `$10` Copay per Stay: should be converted to numbers that can be analyzed statistically.

#### 5.2 Handle non-numeric values
1. `$10, $500, $500`: Numbers are values that should be converted to numbers (0.10, 250, or 500, etc.).
2. No Charge / No Charge after deductible: should be converted to 0.
3. NaN: Show missing information. It can be drop because we don't domain expert.
4. 0%: Should be converted to 0.
5. Text formats such as after deductible or per Day should be separated or omitted if they are not relevant to the numbers.

#### Copay after deductible, Copay per Day, Copay before deductible, Copay per Stay. It has no effect because in the end you will have to pay the displayed amount anyway. It can be drop.

In [83]:
# Check Desciption values
value_counts = df_c1['Description'].value_counts().reset_index(name='Count')
value_counts

                  Description   Count
0                   No Charge  465861
1                         NaN  309579
2  No Charge after deductible   54502
3      Copay after deductible   28789
4               Copay per Day   14754
5     Copay before deductible   13662
6              Copay per Stay    9867
7                          0%    1742

### 6. Handle this data
1. Replace No Charge, No Charge after deductible, 0% in Description columns = 0 in Copayment columns
2. Drop NaN in Decriptions columns

In [84]:
# Remove NaN 309579 records from 898756 = 589177
# Step1: Replace 'No Charge', 'No Charge after deductible', '0%' in Description to Copayment is 0
df_c1.loc[df_c1['Description'].isin(['No Charge', 'No Charge after deductible', '0%']), 'Copay'] = '0'

# Step2: Drop 'NaN' in Copayment columns
df_c1 = df_c1[df_c1['Description'] != 'NaN'].reset_index(drop=True)

In [85]:
# Check value where not duplicate value 'Copayment' column
df_c1_uni = df_c1['Copay'].unique()
df_c1_uni

array(['0', 'NaN', '35', '50', '20', '150', '200', '300', '75', '10',
       '70', '500', '60', '1000', '250', '15', '40', '1400', '100', '72',
       '800', '600', '55', '25', '30', '1500', '9', '6', '4000', '5', '2',
       '750', '4', '16', '350', '875', '17', '2200', '12', '2000', '1250',
       '3', '45', '110', '85', '125', '375', '65', '3000', '4500', '700',
       '2100', '120', '90', '80', '400', '7', '31', '190', '130', '950',
       '95', '8', '38', '76', '175', '57', '18', '280', '275', '105',
       '140', '1200', '550', '650', '210', '2500', '900', '43', '196',
       '450'], dtype=object)

In [86]:
# Check value where not duplicate value 'Description' column
df_c1_uni2 = df_c1['Description'].unique()
df_c1_uni2

array(['No Charge', nan, 'Copay per Day', 'Copay before deductible',
       'Copay after deductible', 'Copay per Stay',
       'No Charge after deductible', '0%'], dtype=object)

In [87]:
# Drop nan in 'Description' Columns, reset index and drop old index by not keep be columns in DataFrame
df_c1 = df_c1.dropna(subset=['Description']).reset_index(drop=True)

In [88]:
# Check value where not duplicate value 'Description' column again after Drop nan
df_c1_uni3 = df_c1['Description'].unique()
df_c1_uni3

array(['No Charge', 'Copay per Day', 'Copay before deductible',
       'Copay after deductible', 'Copay per Stay',
       'No Charge after deductible', '0%'], dtype=object)

In [89]:
# Covert 'Copay' column to numeric
df_c1['Copay'] = pd.to_numeric(df_c1['Copay'], errors='coerce')

In [90]:
# Check value where not duplicate value 'Copay' column
df_c1_uni4 = df_c1['Copay'].unique()
df_c1_uni4

array([   0,   35,   50,   20,  150,  200,  300,   75,   10,   70,  500,
         60, 1000,  250,   15,   40, 1400,  100,   72,  800,  600,   55,
         25,   30, 1500,    9,    6, 4000,    5,    2,  750,    4,   16,
        350,  875,   17, 2200,   12, 2000, 1250,    3,   45,  110,   85,
        125,  375,   65, 3000, 4500,  700, 2100,  120,   90,   80,  400,
          7,   31,  190,  130,  950,   95,    8,   38,   76,  175,   57,
         18,  280,  275,  105,  140, 1200,  550,  650,  210, 2500,  900,
         43,  196,  450])

In [91]:
# display first 5 rows
df_c1.head()

,StandardComponentId,BenefitName,CopayInnTier1,Copay,Description
0,21989AK0010001,Routine Dental Services (Adult),No Charge,0,No Charge
1,21989AK0010001,Dental Check-Up for Children,No Charge,0,No Charge
2,21989AK0010001,Basic Dental Care - Child,No Charge,0,No Charge
3,21989AK0010001,Orthodontia - Child,No Charge,0,No Charge
4,21989AK0010001,Major Dental Care - Child,No Charge,0,No Charge

In [92]:
# display all columns, Non-Null Count and Dtype
df_c1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589177 entries, 0 to 589176
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   StandardComponentId  589177 non-null  object
 1   BenefitName          589177 non-null  object
 2   CopayInnTier1        589177 non-null  object
 3   Copay                589177 non-null  int64
 4   Description          589177 non-null  object
dtypes: int64(1), object(4)
memory usage: 22.5+ MB

### 7. Find out Mean of Copay
1. Find out Mean of Copayment each PlanId and Add new columns Mean Copayment for check each PlanId have how mean of Copayment
2. Check manual
3. Calculate the Mean of each PlanId and take the resulting Mean file and add it as a new Column after the Description column by inserting the reference value from the original PlanId
4. Check Mean_Copayment of StandardComponentId that you want

In [93]:
# Step1: Find out Copayment > 0 for test find out mean value of PlanId
plans_with_copayment = df_c1[df_c1['Copay'] > 0]['StandardComponentId'].unique()
plans_with_copayment

array(['44580AL0360001', '44580AL0360003', '44580AL0360004', ...,
       '31274WV0350002', '31274WV0420021', '31274WV0420031'], dtype=object)

In [94]:
# Step2: Check manual
# Filtered PlanId is 31274WV0420031 (Example)
filtered_df = df_c1[df_c1['StandardComponentId'] == '31274WV0420031']

# Count all value of Copayment
copayment_count = filtered_df['Copay'].notna().sum()

# Find valure that not duplicate value in Copayment and number of value
copayment_value_counts = filtered_df['Copay'].value_counts().reset_index()
copayment_value_counts.columns = ['Copay', 'Count']

# Calculate Mean of Copayment
copayment_mean = filtered_df['Copay'].mean()

# Display recheck mean value of 31274WV0420031
print(f"all Copayment values: {copayment_count}")
print("Values in Copay:")
print(copayment_value_counts)
print(f"Mean of Copayment: {copayment_mean:.2f}")

#Check manual 31274WV0420031 = (35+35+35)/55 = 1.91 Mean

all Copayment values: 55
Values in Copay:
   Copay  Count
0      0     52
1     35      3
Mean of Copayment: 1.91

In [95]:
# Step3: Calculate Mean of Copayment for each PlanId
mean_copayment_per_plan = df_c1.groupby('StandardComponentId')['Copay'].mean().reset_index(name='Copayment')

# Merge the Mean value back into the original DataFrame
df_with_mean = pd.merge(df_c1, mean_copayment_per_plan, on='StandardComponentId', how='left')

# Reorder columns to be after Description
columns_order = df_c1.columns.tolist() + ['Copayment']
df_with_mean = df_with_mean[columns_order]

# Display first 5 rows
df_with_mean.head()

,StandardComponentId,BenefitName,CopayInnTier1,Copay,Description,Copayment
0,21989AK0010001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
1,21989AK0010001,Dental Check-Up for Children,No Charge,0,No Charge,0.0
2,21989AK0010001,Basic Dental Care - Child,No Charge,0,No Charge,0.0
3,21989AK0010001,Orthodontia - Child,No Charge,0,No Charge,0.0
4,21989AK0010001,Major Dental Care - Child,No Charge,0,No Charge,0.0

In [96]:
# display all columns, Non-Null Count and Dtype
df_with_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589177 entries, 0 to 589176
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   StandardComponentId  589177 non-null  object
 1   BenefitName          589177 non-null  object
 2   CopayInnTier1        589177 non-null  object
 3   Copay                589177 non-null  int64
 4   Description          589177 non-null  object
 5   Copayment            589177 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 27.0+ MB

In [97]:
# Step4: Check Mean_Copayment of PlanId that you want
mean_value = df_with_mean.loc[df_with_mean['StandardComponentId'] == '31274WV0420031', 'Copay'].iloc[0]

# Display
print(f"Mean_Copayment value of PlanId 31274WV0420031 is: {mean_value:.2f}")

Mean_Copayment value of PlanId 31274WV0420031 is: 0.00

In [98]:
# Filter Particular PlanId that you want "31274WV0420031"
filtered_df = df_with_mean.loc[df_with_mean['StandardComponentId'] == '31274WV0420031']

# Display all rows
filtered_df

,StandardComponentId,BenefitName,CopayInnTier1,Copay,Description,Copayment
588375,31274WV0420031,Radiation,No Charge,0,No Charge,1.909091
588376,31274WV0420031,Diabetes Education,No Charge,0,No Charge,1.909091
588377,31274WV0420031,Prosthetic Devices,No Charge,0,No Charge,1.909091
588378,31274WV0420031,Infusion Therapy,No Charge,0,No Charge,1.909091
588379,31274WV0420031,Treatment for Temporomandibular Joint Disorders,No Charge,0,No Charge,1.909091
588380,31274WV0420031,Reconstructive Surgery,No Charge,0,No Charge,1.909091
588381,31274WV0420031,Clinical Trials,No Charge,0,No Charge,1.909091
588382,31274WV0420031,Diabetes Care Management,No Charge,0,No Charge,1.909091
588383,31274WV0420031,Dental Anesthesia,No Charge,0,No Charge,1.909091
588384,31274WV0420031,Mental Health Other,No Charge,0,No Charge,1.909091
588385,31274WV0420031,Prescription Drugs Other,No Charge,0,No Charge,1.909091
588687,31274WV0420031,"Outpatient Facility Fee (e.g., Ambulatory Sur...",No Charge,0,No Charge,1.909091
588688,31274WV0420031,Outpatient Surgery Physician/Surgical Services,No Charge,0,No Charge,1.909091
588689,31274WV0420031,Hospice Services,No Charge,0,No Charge,1.909091
588690,31274WV0420031,Non-Emergency Care When Traveling Outside the ...,No Charge,0,No Charge,1.909091
588691,31274WV0420031,Private-Duty Nursing,No Charge,0,No Charge,1.909091
588692,31274WV0420031,Routine Eye Exam (Adult),No Charge,0,No Charge,1.909091
588693,31274WV0420031,Urgent Care Centers or Facilities,$35 Copay after deductible,35,Copay after deductible,1.909091
588694,31274WV0420031,Home Health Care Services,No Charge,0,No Charge,1.909091
588695,31274WV0420031,Emergency Room Services,No Charge,0,No Charge,1.909091
588696,31274WV0420031,Emergency Transportation/Ambulance,No Charge,0,No Charge,1.909091
588697,31274WV0420031,"Inpatient Hospital Services (e.g., Hospital Stay)",$0 Copay per Stay,0,Copay per Stay,1.909091
588698,31274WV0420031,Inpatient Physician and Surgical Services,No Charge,0,No Charge,1.909091
588699,31274WV0420031,Bariatric Surgery,No Charge,0,No Charge,1.909091
588700,31274WV0420031,Cosmetic Surgery,No Charge,0,No Charge,1.909091
588701,31274WV0420031,Skilled Nursing Facility,$0 Copay per Stay,0,Copay per Stay,1.909091
588702,31274WV0420031,Prenatal and Postnatal Care,No Charge,0,No Charge,1.909091
588703,31274WV0420031,Delivery and All Inpatient Services for Matern...,No Charge,0,No Charge,1.909091
588704,31274WV0420031,Mental/Behavioral Health Outpatient Services,$35 Copay before deductible,35,Copay before deductible,1.909091
588705,31274WV0420031,Mental/Behavioral Health Inpatient Services,No Charge,0,No Charge,1.909091
588706,31274WV0420031,Substance Abuse Disorder Outpatient Services,$35 Copay before deductible,35,Copay before deductible,1.909091
588707,31274WV0420031,Substance Abuse Disorder Inpatient Services,No Charge,0,No Charge,1.909091
588708,31274WV0420031,Outpatient Rehabilitation Services,No Charge,0,No Charge,1.909091
588709,31274WV0420031,Habilitation Services,No Charge,0,No Charge,1.909091
588710,31274WV0420031,Chiropractic Care,No Charge,0,No Charge,1.909091
588711,31274WV0420031,Durable Medical Equipment,No Charge,0,No Charge,1.909091
588712,31274WV0420031,"Imaging (CT/PET Scans, MRIs)",No Charge,0,No Charge,1.909091
588713,31274WV0420031,Preventive Care/Screening/Immunization,No Charge,0,No Charge,1.909091
588714,31274WV0420031,Routine Eye Exam for Children,No Charge,0,No Charge,1.909091
588715,31274WV0420031,Eye Glasses for Children,No Charge,0,No Charge,1.909091
588716,31274WV0420031,Dental Check-Up for Children,No Charge,0,No Charge,1.909091
588717,31274WV0420031,Rehabilitative Speech Therapy,No Charge,0,No Charge,1.909091
588718,31274WV0420031,Rehabilitative Occupational and Rehabilitative...,No Charge,0,No Charge,1.909091
588719,31274WV0420031,Well Baby Visits and Care,No Charge,0,No Charge,1.909091
588720,31274WV0420031,Laboratory Outpatient and Professional Services,No Charge,0,No Charge,1.909091
588721,31274WV0420031,X-rays and Diagnostic Imaging,No Charge,0,No Charge,1.909091
588722,31274WV0420031,Basic Dental Care - Child,No Charge,0,No Charge,1.909091
588723,31274WV0420031,Orthodontia - Child,No Charge,0,No Charge,1.909091
588724,31274WV0420031,Major Dental Care - Child,No Charge,0,No Charge,1.909091
588725,31274WV0420031,Abortion for Which Public Funding is Prohibited,No Charge,0,No Charge,1.909091
588726,31274WV0420031,Transplant,No Charge,0,No Charge,1.909091
588727,31274WV0420031,Accidental Dental,No Charge,0,No Charge,1.909091
588728,31274WV0420031,Dialysis,No Charge,0,No Charge,1.909091
588729,31274WV0420031,Allergy Testing,No Charge,0,No Charge,1.909091
588730,31274WV0420031,Chemotherapy,No Charge,0,No Charge,1.909091

### 8. Drop Duplicates values
1. Drop 'StandardComponentId' column with duplicate values
2. Create CSV file

In [36]:
#drop duplicates values keep in df_no_duplicates
df_no_duplicates = df_with_mean.drop_duplicates(subset=["StandardComponentId"])
df_no_duplicates

,StandardComponentId,BenefitName,CopayInnTier1,Copayment,Description,Mean_Copayment
0,21989AK0010001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
14,21989AK0020001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
28,21989AK0020002,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
42,38536AK0010002,Major Dental Care - Adult,No Charge,0,No Charge,0.0
45,38536AK0010003,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
...,...,...,...,...,...,...
589108,96480WV0060001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
589131,96480WV0080001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
589147,96480WV0090001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
589161,96480WV0100001,Dental Check-Up for Children,No Charge,0,No Charge,0.0
589169,96480WV0110001,Dental Check-Up for Children,No Charge,0,No Charge,0.0

In [99]:
# display all columns, Non-Null Count and Dtype
df_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6549 entries, 0 to 589169
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StandardComponentId  6549 non-null   object
 1   BenefitName          6549 non-null   object
 2   CopayInnTier1        6549 non-null   object
 3   Copayment            6549 non-null   int64
 4   Description          6549 non-null   object
 5   Mean_Copayment       6549 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 358.1+ KB

In [100]:
# display first 5 rows
df_no_duplicates.head()

,StandardComponentId,BenefitName,CopayInnTier1,Copayment,Description,Mean_Copayment
0,21989AK0010001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
14,21989AK0020001,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
28,21989AK0020002,Routine Dental Services (Adult),No Charge,0,No Charge,0.0
42,38536AK0010002,Major Dental Care - Adult,No Charge,0,No Charge,0.0
45,38536AK0010003,Routine Dental Services (Adult),No Charge,0,No Charge,0.0

In [101]:
#create csv after clean BenefitCostSharing no duplicates
df_no_duplicates.to_csv('clean_benefitcostsharing_mean_no_duplicates.csv')