## Overview
Binning "Age" column is Common age ranges for health-related analysis include the following categories. By Fixed Interval Binning, a simple method to create age groups. Analyze different age groups and plan typestogether affect the dependent variable (x)

### Objective
1. Loading and inspecting dataset
2. Binning "Age" column
3. Observations
4. Handle unnecessary columns

### 1. Loading and inspecting dataset
#### import library
1. pandas that it allows you to create, manipulate, and analyze datasets efficiently.
2. numpy that it provides support for arrays, matrices, and various mathematical functions.
3. seaborn that it provides high-level functions to create attractive and informative plots.
4. matplotlib is a foundational library for creating static, interactive, and animated visualizations.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [2]:
# Load the dataset csv file merge all value that use analyze from 4.Final_Merge_Benefit_Left-Use.ipynb
df = pd.read_csv("cleaned.csv",low_memory=False)

# display all columns, Non-Null Count and Dtype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6000 non-null   int64
 1   StandardComponentId  6000 non-null   object
 2   Age                  6000 non-null   int64
 3   PlanType             6000 non-null   object
 4   Copayment            6000 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 234.5+ KB

In [3]:
# Sort Age
sorted_ages = np.sort(df['Age'].unique())
print(sorted_ages)

[20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65]

In [4]:
# display first 5 rows
df.head()

   Unnamed: 0 StandardComponentId  Age PlanType  Copayment
0           0      40540TX0080003   20      PPO        0.0
1           1      18973IA0210004   20      POS        0.0
2           2      88380VA0720012   20      HMO        0.0
3           3      58255OH0200001   20      PPO        0.0
4           4      52664OH1510013   20      PPO        0.0

### 2. Binning "Age" column
1. Common age ranges for health-related analysis include the following categories
2. By Fixed Interval Binning, a simple method to create age groups
3. Analyze different age groups and plan types together affect the dependent variable (x) 
    - 0-20: Typically, those who are minors and covered under parents' or guardians' health insurance plans.
    - 21-25: Young adults, often covered under parental insurance until 26.
    - 26-40: Typically, adults in early to mid-career stages, where private insurance plans or employer-sponsored plans become more common.
    - 41-60: Pre-retirement age group, often with an increased focus on preventative care and management of chronic conditions.
    - 61-64: Near-retirement age, typically covered under employer-sponsored plans or private health insurance, just before eligibility for Medicare.
    - 65+: Seniors eligible for Medicare
4. Create a new column for age bins

In [5]:
# Common age bins for health-related analysis include the following categories 
# by Fixed Interval Binning, a simple approach to create age bins 
# and to analyze how different age groups and plan types together affect the dependent variable
# 1. 0-20: Typically, those who are minors and covered under parents' or guardians' health insurance plans.
# 2. 21-25: Young adults, often covered under parental insurance until 26.
# 3. 26-40: Typically, adults in early to mid-career stages, where private insurance plans or employer-sponsored plans become more common.
# 4. 41-60: Pre-retirement age group, often with an increased focus on preventative care and management of chronic conditions.
# 5. 61-64: Near-retirement age, typically covered under employer-sponsored plans or private health insurance, just before eligibility for Medicare.
# 6. 65+: Seniors eligible for Medicare

bins = [0,21, 26, 41, 61, 65, float('inf')]  # Define age ranges
labels = ['0-20', '21-25', '26-40', '41-60', '61-64', '65+']  # Corresponding labels

# Create a new column for age bins
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)
df_final = df[['AgeGroup', 'Age', 'PlanType','Copayment']].reset_index().sort_values(by='AgeGroup')
#df_sorted = df_ra_clean[['AgeGroup', 'PlanId']].value_counts().reset_index(name='Count').sort_values(by='AgeGroup')

In [6]:
# reset_index
df_final.reset_index(drop=True)

# display all columns, Non-Null Count and Dtype
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6000 entries, 0 to 5999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      6000 non-null   int64
 1   AgeGroup   6000 non-null   category
 2   Age        6000 non-null   int64
 3   PlanType   6000 non-null   object
 4   Copayment  6000 non-null   float64
dtypes: category(1), float64(1), int64(2), object(1)
memory usage: 240.4+ KB

### 3. Observations
1. **Total raws and colums:** The dataset contains 6,000 rows(entries) and 5 columns
2. **Data Types and possible issues**
    - 2 Columns are int64: **Index, Age**
    - 1 Columns are category: **AgeGroup**
    - 1 Columns are object: **PlanType**
    - 1 Columns are float64: **Copayment**

In [7]:
# display first 5 rows
df_final.head()

     index AgeGroup  Age   PlanType  Copayment
0        0     0-20   20        PPO        0.0
658    658     0-20   20        PPO        0.0
659    659     0-20   20  Indemnity        0.0
660    660     0-20   20        PPO        0.0
661    661     0-20   20        EPO        0.0

In [8]:
# Check for unique values in the AgeGroup column
df_final['AgeGroup'].unique()

['0-20', '21-25', '26-40', '41-60', '61-64', '65+']
Categories (6, object): ['0-20' < '21-25' < '26-40' < '41-60' < '61-64' < '65+']

In [9]:
# Check for unique values in the PlanType column
df_final['PlanType'].unique()

array(['PPO', 'Indemnity', 'EPO', 'HMO', 'POS'], dtype=object)

In [10]:
# Check for unique values in the Age column
df_final['Age'].unique()

array([20, 24, 23, 21, 25, 22, 39, 38, 32, 40, 29, 28, 31, 34, 36, 33, 37,
       26, 30, 35, 27, 44, 57, 50, 51, 47, 54, 59, 48, 45, 52, 55, 56, 42,
       41, 49, 53, 60, 46, 58, 43, 63, 62, 61, 64, 65])

### 4. Handle unnecessary columns
1. Drop 'index' columns
2. Create CSV file

In [11]:
# Step1: Drop 'index' columns
df_final = df_final.drop(columns=['index'])
# display first 5 rows
df_final.head()

    AgeGroup  Age   PlanType  Copayment
0       0-20   20        PPO        0.0
658     0-20   20        PPO        0.0
659     0-20   20  Indemnity        0.0
660     0-20   20        PPO        0.0
661     0-20   20        EPO        0.0

In [12]:
# Create CSV file
df_final.to_csv('final_binning.csv')