In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Rate.csv")

In [4]:
df.head(10)

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
5,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,16
6,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.45,NaN,64.9,94.50,94.50,94.50,126.95,126.95,126.95,17
7,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
9,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.45,NaN,64.9,94.50,94.50,94.50,126.95,126.95,126.95,18

In [7]:
distinct_yrs = df["BusinessYear"].unique()

In [9]:
distinct_yrs

array([2014, 2015, 2016], dtype=int64)

In [15]:
counts = df["BusinessYear"].value_counts(dropna=False)

In [17]:
counts

BusinessYear
2015    4676092
2016    4221965
2014    3796388
Name: count, dtype: int64

In [27]:
missing = df["BusinessYear"].isna().sum()

In [29]:
missing

0

In [33]:
dp = df.duplicated().sum()

In [3]:
df1 = pd.read_csv("PlanAttributes.csv")

C:\Users\abres\AppData\Local\Temp\ipykernel_18044\1640756019.py:1: DtypeWarning: Columns (0,7,8,9,10,11,12,13,14,15,18,19,20,22,23,24,25,26,27,28,29,31,32,33,34,39,40,41,42,66,67,68,70,71,72,75,76,77,79,80,81,82,84,85,86,88,89,90,92,93,94,96,97,98,136,137,138,140,141,142,145,146,147,150,151,152,154,155,156,158,159,160,162,163,164,166,167,168) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("PlanAttributes.csv")

In [13]:
a1 = df1.head(10)

In [9]:
clm = df1.columns

In [11]:
print(clm)

Index(['AVCalculatorOutputNumber',
       'BeginPrimaryCareCostSharingAfterNumberOfVisits',
       'BeginPrimaryCareDeductibleCoinsuranceAfterNumberOfCopays',
       'BenefitPackageId', 'BusinessYear', 'CSRVariationType',
       'ChildOnlyOffering', 'ChildOnlyPlanId', 'CompositeRatingOffered',
       'DEHBCombInnOonFamilyMOOP',
       ...
       'TEHBOutOfNetFamilyMOOP', 'TEHBOutOfNetFamilyPerGroupMOOP',
       'TEHBOutOfNetFamilyPerPersonMOOP', 'TEHBOutOfNetIndividualMOOP', 'TIN',
       'URLForEnrollmentPayment', 'URLForSummaryofBenefitsCoverage',
       'UniquePlanDesign', 'VersionNum', 'WellnessProgramOffered'],
      dtype='object', length=176)

In [17]:
df2 = pd.read_csv("BenefitsCostSharing.csv",low_memory=False)

In [29]:
df2.columns

Index(['BenefitName', 'BusinessYear', 'CoinsInnTier1', 'CoinsInnTier2',
       'CoinsOutofNet', 'CopayInnTier1', 'CopayInnTier2', 'CopayOutofNet',
       'EHBVarReason', 'Exclusions', 'Explanation', 'ImportDate', 'IsCovered',
       'IsEHB', 'IsExclFromInnMOOP', 'IsExclFromOonMOOP', 'IsStateMandate',
       'IsSubjToDedTier1', 'IsSubjToDedTier2', 'IssuerId', 'IssuerId2',
       'LimitQty', 'LimitUnit', 'MinimumStay', 'PlanId', 'QuantLimitOnSvc',
       'RowNumber', 'SourceName', 'StandardComponentId', 'StateCode',
       'StateCode2', 'VersionNum'],
      dtype='object')

In [57]:
# Keep only the specified columns
columns_to_keep = ['BusinessYear', 'PlanId','CopayInnTier1']
df_filtered = df2[columns_to_keep]

print("Filtered DataFrame:")
print(df_filtered)

Filtered DataFrame:
         BusinessYear             PlanId   CopayInnTier1
0                2014  21989AK0010001-00       No Charge
1                2014  21989AK0010001-00       No Charge
2                2014  21989AK0010001-00       No Charge
3                2014  21989AK0010001-00       No Charge
4                2014  21989AK0010001-00       No Charge
...               ...                ...             ...
5048403          2016  96480WV0110003-00  Not Applicable
5048404          2016  96480WV0110003-00             NaN
5048405          2016  96480WV0110003-00             NaN
5048406          2016  96480WV0110003-00             NaN
5048407          2016  96480WV0110003-00             NaN

[5048408 rows x 3 columns]

In [33]:
unq_df_businessYear = df2['BusinessYear'].unique()

In [35]:
unq_df_businessYear

array([2014, 2015, 2016], dtype=int64)

In [43]:
unique_value_count_bs_yr = df2['BusinessYear'].value_counts()

In [45]:
unique_value_count_bs_yr

BusinessYear
2015    2079286
2016    1804253
2014    1164869
Name: count, dtype: int64

In [59]:
# Keep only the specified columns
columns_to_keep = ['BusinessYear', 'PlanId','CopayInnTier1']
df_filtered = df2[columns_to_keep]

print("Filtered DataFrame:")
print(df_filtered)

Filtered DataFrame:
         BusinessYear             PlanId   CopayInnTier1
0                2014  21989AK0010001-00       No Charge
1                2014  21989AK0010001-00       No Charge
2                2014  21989AK0010001-00       No Charge
3                2014  21989AK0010001-00       No Charge
4                2014  21989AK0010001-00       No Charge
...               ...                ...             ...
5048403          2016  96480WV0110003-00  Not Applicable
5048404          2016  96480WV0110003-00             NaN
5048405          2016  96480WV0110003-00             NaN
5048406          2016  96480WV0110003-00             NaN
5048407          2016  96480WV0110003-00             NaN

[5048408 rows x 3 columns]

In [63]:
df_filtered_2014 = df2[df2['BusinessYear'] == 2014]

print("Filtered DataFrame:")
print(df_filtered_2014)

Filtered DataFrame:
                             BenefitName  BusinessYear  \
0        Routine Dental Services (Adult)          2014
1           Dental Check-Up for Children          2014
2              Basic Dental Care - Child          2014
3                    Orthodontia - Child          2014
4              Major Dental Care - Child          2014
...                                  ...           ...
1164864        Major Dental Care - Child          2014
1164865        Basic Dental Care - Adult          2014
1164866              Orthodontia - Adult          2014
1164867        Major Dental Care - Adult          2014
1164868                Accidental Dental          2014

                            CoinsInnTier1 CoinsInnTier2 CoinsOutofNet  \
0                                     20%           NaN           20%
1                                     20%           NaN           20%
2                                     40%           NaN           40%
3                                     50%           NaN           50%
4                                     50%           NaN           50%
...                                   ...           ...           ...
1164864  60% Coinsurance after deductible           NaN          100%
1164865                               NaN           NaN           NaN
1164866                               NaN           NaN           NaN
1164867                               NaN           NaN           NaN
1164868                               NaN           NaN           NaN

        CopayInnTier1 CopayInnTier2 CopayOutofNet            EHBVarReason  \
0           No Charge           NaN     No Charge               Above EHB
1           No Charge           NaN     No Charge     Substantially Equal
2           No Charge           NaN     No Charge     Substantially Equal
3           No Charge           NaN     No Charge  Additional EHB Benefit
4           No Charge           NaN     No Charge     Substantially Equal
...               ...           ...           ...                     ...
1164864     No Charge           NaN     No Charge                     NaN
1164865           NaN           NaN           NaN                     NaN
1164866           NaN           NaN           NaN                     NaN
1164867           NaN           NaN           NaN                     NaN
1164868           NaN           NaN           NaN                     NaN

        Exclusions  ...              LimitUnit MinimumStay             PlanId  \
0              NaN  ...       Dollars per Year         NaN  21989AK0010001-00
1              NaN  ...  Visit(s) per 6 Months         NaN  21989AK0010001-00
2              NaN  ...                    NaN         NaN  21989AK0010001-00
3              NaN  ...                    NaN         NaN  21989AK0010001-00
4              NaN  ...                    NaN         NaN  21989AK0010001-00
...            ...  ...                    ...         ...                ...
1164864        NaN  ...                    NaN         NaN  96480WV0110001-01
1164865        NaN  ...                    NaN         NaN  96480WV0110001-01
1164866        NaN  ...                    NaN         NaN  96480WV0110001-01
1164867        NaN  ...                    NaN         NaN  96480WV0110001-01
1164868        NaN  ...                    NaN         NaN  96480WV0110001-01

        QuantLimitOnSvc RowNumber SourceName StandardComponentId StateCode  \
0                   Yes        68       HIOS      21989AK0010001        AK
1                   Yes       104       HIOS      21989AK0010001        AK
2                   NaN       110       HIOS      21989AK0010001        AK
3                   NaN       111       HIOS      21989AK0010001        AK
4                   NaN       112       HIOS      21989AK0010001        AK
...                 ...       ...        ...                 ...       ...
1164864             NaN       112      SERFF      96480WV0110001        WV
1164865             NaN       113      SERFF      96480WV0110001        WV
1164866             NaN       114      SERFF      96480WV0110001        WV
1164867             NaN       115      SERFF      96480WV0110001        WV
1164868             NaN       118      SERFF      96480WV0110001        WV

        StateCode2  VersionNum
0               AK           6
1               AK           6
2               AK           6
3               AK           6
4               AK           6
...            ...         ...
1164864         WV           5
1164865         WV           5
1164866         WV           5
1164867         WV           5
1164868         WV           5

[1164869 rows x 32 columns]

In [71]:
df_fil_2014_unique = df_filtered_2014['CopayInnTier2'].unique()

In [73]:
df_fil_2014_unique

array([nan, '$100', '$0', '$200', 'No Charge', '$400', '$35', '$50',
       '$15', '$400 Copay per Day', '$40', '$60', '$0 Copay per Day',
       '$65', '$20', '$395', '$600', '$25', '$300', '$600 Copay per Day',
       '$30', '$75', '$10', '$5', '$750', '$25 Copay after deductible',
       '$500', 'No Charge after deductible', '$50 Copay after deductible',
       '$500 Copay per Day', '$1,000', '$500 Copay after deductible',
       '$400 Copay after deductible', '$300 Copay after deductible',
       '$1000 Copay after deductible', '$100 Copay after deductible',
       '$60 Copay after deductible', '$200 Copay after deductible',
       '$75 Copay after deductible', '$1250 Copay after deductible',
       '$40 Copay after deductible', '$150', '$200 Copay per Day', '$320',
       '$80', '$20 Copay after deductible', '$100 Copay per Day',
       '$50 Copay per Day', '$120', '$750 Copay before deductible',
       '$150 Copay before deductible', '$500 Copay before deductible',
       '$200 Copay before deductible', '$110 Copay before deductible',
       '$85 Copay before deductible', '$400 Copay before deductible',
       '$75 Copay before deductible', '$80 Copay before deductible',
       '$40 Copay before deductible', '$60 Copay before deductible',
       '$250 Copay before deductible', '$20 Copay before deductible',
       '$50 Copay before deductible', '$100 Copay before deductible',
       '$350 Copay before deductible', '$30 Copay before deductible',
       '$10 Copay before deductible', '$25 Copay before deductible',
       '$120 Copay before deductible', '$15 Copay before deductible',
       '$90 Copay before deductible', '$35 Copay before deductible',
       '$300 Copay before deductible', '$12 Copay before deductible',
       '$300 Copay per Day', '$250 Copay per Stay', '$0 Copay per Stay',
       '$1000 Copay per Stay', '$1000 Copay before deductible',
       '$55 Copay after deductible', '$85 Copay after deductible',
       '$500 Copay per Stay', '$45', '$85', '$90',
       '$70 Copay after deductible', '$10 Copay after deductible',
       '$45 Copay after deductible', '$250', '$65 Copay after deductible',
       '$3', '$55', '0%', '$30 Copay after deductible', '$7',
       '$15 Copay after deductible', '$70', '$7 Copay after deductible',
       '$250 Copay per Day', '$250 Copay after deductible', '$6',
       '$2000 Copay per Stay', '$8', '$95', '$200 Copay per Stay', '$350',
       '$700', '$700 Copay per Day', '$175 Copay per Day', '$450',
       '$800 Copay per Day', '$800 Copay before deductible',
       '$700 Copay before deductible', '$350 Copay per Day',
       '$25 Copay per Day', '$4', '$150 Copay per Day',
       '$57 Copay after deductible', '$750 Copay per Day',
       '$18 Copay after deductible', '$280 Copay after deductible',
       '$375', '$190', '$48', '$110 Copay after deductible',
       '$150 Copay after deductible', '$3 Copay after deductible',
       '$5 Copay after deductible', '$275 Copay after deductible',
       '$80 Copay after deductible', '$90 Copay after deductible',
       '$105 Copay after deductible', '$2000 Copay per Day', '$2,000',
       '$1000 Copay per Day', '$5 Copay before deductible',
       '$1300 Copay per Day', '$1200 Copay per Day', '$70 Copay per Day',
       '$60 Copay per Day', '$1500 Copay per Day',
       '$0 Copay after deductible', '$0 Copay before deductible',
       '$300 Copay per Stay', '$225', '$175', '$275', '$12', '$125',
       '$110', '$550', '$45 Copay before deductible',
       '$100 Copay per Stay', '$150 Copay per Stay',
       '$750 Copay after deductible', '$35 Copay after deductible',
       '$750 Copay per Stay', '$900 Copay per Day',
       '$900 Copay after deductible', '$350 Copay after deductible',
       '$125 Copay after deductible'], dtype=object)

In [99]:
# Separate into 'Amount' and 'Description'
df_filtered_2014['amount_in_usd'] = df_filtered_2014['CopayInnTier2'].str.extract(r'\$([\d,]+)')
df_filtered_2014['Description'] = df_filtered_2014['CopayInnTier2'].str.replace(r'\$[\d,]+\s?', '', regex=True)

# Replace 'nan' or empty strings with NaN for clarity
df_filtered_2014['amount_in_usd'] = df_filtered_2014['amount_in_usd'].str.replace(',', '').fillna('NaN')  # Remove commas for numerical conversion
df_filtered_2014['Description'] = df_filtered_2014['Description'].replace({'': 'NaN', 'nan': 'NaN'})

# Convert Amount to numeric for analysis
df_filtered_2014['amount_in_usd'] = pd.to_numeric(df_filtered_2014['amount_in_usd'], errors='coerce')

C:\Users\abres\AppData\Local\Temp\ipykernel_18044\2833864859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2014['amount_in_usd'] = df_filtered_2014['CopayInnTier2'].str.extract(r'\$([\d,]+)')
C:\Users\abres\AppData\Local\Temp\ipykernel_18044\2833864859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2014['Description'] = df_filtered_2014['CopayInnTier2'].str.replace(r'\$[\d,]+\s?', '', regex=True)
C:\Users\abres\AppData\Local\Temp\ipykernel_18044\2833864859.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2014['amount_in_usd'] = df_filtered_2014['amount_in_usd'].str.replace(',', '').fillna('NaN')  # Remove commas for numerical conversion
C:\Users\abres\AppData\Local\Temp\ipykernel_18044\2833864859.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2014['Description'] = df_filtered_2014['Description'].replace({'': 'NaN', 'nan': 'NaN'})
C:\Users\abres\AppData\Local\Temp\ipykernel_18044\2833864859.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2014['amount_in_usd'] = pd.to_numeric(df_filtered_2014['amount_in_usd'], errors='coerce')

In [101]:
# Display the resulting DataFrame
df_filtered_2014.head()

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum,Amount,Description,amount_in_usd
0,Routine Dental Services (Adult),2014,20%,NaN,20%,No Charge,NaN,No Charge,Above EHB,NaN,...,Yes,68,HIOS,21989AK0010001,AK,AK,6,NaN,NaN,NaN
1,Dental Check-Up for Children,2014,20%,NaN,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Yes,104,HIOS,21989AK0010001,AK,AK,6,NaN,NaN,NaN
2,Basic Dental Care - Child,2014,40%,NaN,40%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,110,HIOS,21989AK0010001,AK,AK,6,NaN,NaN,NaN
3,Orthodontia - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Additional EHB Benefit,NaN,...,NaN,111,HIOS,21989AK0010001,AK,AK,6,NaN,NaN,NaN
4,Major Dental Care - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,112,HIOS,21989AK0010001,AK,AK,6,NaN,NaN,NaN

In [105]:
# Keep only the specified columns
columns_to_keep = ['BusinessYear', 'PlanId','CopayInnTier1','amount_in_usd','Description']
df_filtered_new = df_filtered_2014[columns_to_keep]

print("Filtered DataFrame:")
print(df_filtered_new)

Filtered DataFrame:
         BusinessYear             PlanId CopayInnTier1  amount_in_usd  \
0                2014  21989AK0010001-00     No Charge            NaN
1                2014  21989AK0010001-00     No Charge            NaN
2                2014  21989AK0010001-00     No Charge            NaN
3                2014  21989AK0010001-00     No Charge            NaN
4                2014  21989AK0010001-00     No Charge            NaN
...               ...                ...           ...            ...
1164864          2014  96480WV0110001-01     No Charge            NaN
1164865          2014  96480WV0110001-01           NaN            NaN
1164866          2014  96480WV0110001-01           NaN            NaN
1164867          2014  96480WV0110001-01           NaN            NaN
1164868          2014  96480WV0110001-01           NaN            NaN

        Description
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
1164864         NaN
1164865         NaN
1164866         NaN
1164867         NaN
1164868         NaN

[1164869 rows x 5 columns]

In [107]:
unq_d4 = df_filtered_new['Description'].unique()

In [109]:
unq_d4

array([nan, 'NaN', 'No Charge', 'Copay per Day', 'Copay after deductible',
       'No Charge after deductible', 'Copay before deductible',
       'Copay per Stay', '0%'], dtype=object)

In [113]:
unq_d5 = df_filtered_new['amount_in_usd'].unique()

In [97]:
unq_d5

array([  nan,  100.,    0.,  200.,  400.,   35.,   50.,   15.,   40.,
         60.,   65.,   20.,  395.,  600.,   25.,  300.,   30.,   75.,
         10.,    5.,  750.,  500., 1000., 1250.,  150.,  320.,   80.,
        120.,  110.,   85.,  250.,  350.,   90.,   12.,   55.,   45.,
         70.,    3.,    7.,    6., 2000.,    8.,   95.,  700.,  175.,
        450.,  800.,    4.,   57.,   18.,  280.,  375.,  190.,   48.,
        275.,  105., 1300., 1200., 1500.,  225.,  125.,  550.,  900.])

In [115]:
df_filtered_new

,BusinessYear,PlanId,CopayInnTier1,amount_in_usd,Description
0,2014,21989AK0010001-00,No Charge,NaN,NaN
1,2014,21989AK0010001-00,No Charge,NaN,NaN
2,2014,21989AK0010001-00,No Charge,NaN,NaN
3,2014,21989AK0010001-00,No Charge,NaN,NaN
4,2014,21989AK0010001-00,No Charge,NaN,NaN
...,...,...,...,...,...
1164864,2014,96480WV0110001-01,No Charge,NaN,NaN
1164865,2014,96480WV0110001-01,NaN,NaN,NaN
1164866,2014,96480WV0110001-01,NaN,NaN,NaN
1164867,2014,96480WV0110001-01,NaN,NaN,NaN
1164868,2014,96480WV0110001-01,NaN,NaN,NaN

In [117]:
nan_counts = df_filtered_new['amount_in_usd'].isna().sum()

In [119]:
nan_counts

1132520

In [131]:
count = df_filtered_new['Description'].value_counts().get("Copay per Day", 0)

print(f"The count of 'Copay per Day': {count}")

The count of 'Copay per Day': 1128

In [133]:
value_counts = df_filtered_new['Description'].value_counts()

print("Count of all unique values:")
print(value_counts)

Count of all unique values:
Description
No Charge                     28577
NaN                           20977
Copay before deductible        7779
No Charge after deductible     6139
Copay after deductible         1793
Copay per Day                  1128
Copay per Stay                  672
0%                               74
Name: count, dtype: int64

In [135]:
value_counts_amt = df_filtered_new['amount_in_usd'].value_counts()

print("Count of all unique values:")
print(value_counts_amt)

Count of all unique values:
amount_in_usd
0.0       16737
50.0       2093
75.0       1922
150.0      1110
40.0       1006
          ...
1200.0        2
280.0         2
320.0         2
105.0         1
6.0           1
Name: count, Length: 62, dtype: int64

In [137]:
filtered_df = df_filtered_new[df_filtered_new['Description'] == "Copay per Day"]

print("Filtered DataFrame:")
print(filtered_df)

Filtered DataFrame:
         BusinessYear             PlanId       CopayInnTier1  amount_in_usd  \
10226            2014  46944AL0340001-01  $200 Copay per Day          400.0
10323            2014  46944AL0360001-00  $200 Copay per Day          400.0
10435            2014  46944AL0340001-00  $200 Copay per Day          400.0
10535            2014  46944AL0370001-01  $200 Copay per Day            0.0
10601            2014  46944AL0410001-01  $300 Copay per Day            0.0
...               ...                ...                 ...            ...
1158868          2014  99663VA0140021-06    $0 Copay per Day            0.0
1158953          2014  99663VA0140022-01    $0 Copay per Day            0.0
1158957          2014  99663VA0140022-01    $0 Copay per Day            0.0
1159063          2014  99663VA0140022-03    $0 Copay per Day            0.0
1159067          2014  99663VA0140022-03    $0 Copay per Day            0.0

           Description
10226    Copay per Day
10323    Copay per Day
10435    Copay per Day
10535    Copay per Day
10601    Copay per Day
...                ...
1158868  Copay per Day
1158953  Copay per Day
1158957  Copay per Day
1159063  Copay per Day
1159067  Copay per Day

[1128 rows x 5 columns]